flows.json
[
    {
        "id": "59f39e6b.f710b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b3427e47.2623e",
        "type": "ui_form",
        "z": "59f39e6b.f710b",
        "name": "",
        "label": "",
        "group": "8bf727f1.beb018",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your Input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "caa4b318.e11bc"
            ]
        ]
    },
    {
        "id": "caa4b318.e11bc",
        "type": "function",
        "z": "59f39e6b.f710b",
        "name": "",
        "func": "msg.payload = msg.payload.text;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 220,
        "wires": [
            [
                "f720531d.9624b",
                "7ce24883.508aa8"
            ]
        ]
    },
    {
        "id": "f720531d.9624b",
        "type": "ui_text",
        "z": "59f39e6b.f710b",
        "group": "8bf727f1.beb018",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "7ce24883.508aa8",
        "type": "watson-conversation-v1",
        "z": "59f39e6b.f710b",
        "name": "Customer Care",
        "workspaceid": "99360124-56dc-4ec4-8474-639692373c7b",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/5a095923-db3e-46a8-9b42-274a474d10bc",
        "timeout": "",
        "optout-learning": false,
        "x": 980,
        "y": 160,
        "wires": [
            [
                "648d5bdf.397e14"
            ]
        ]
    },
    {
        "id": "648d5bdf.397e14",
        "type": "function",
        "z": "59f39e6b.f710b",
        "name": "",
        "func": "\nmsg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1)\n{\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text = msg.payload.text +\"\\n\" + msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload = msg.payload.text;\n}\nelse{\n    msg.payload = msg.payload.output.text[0];\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1136,
        "y": 218,
        "wires": [
            [
                "a0c29b71.ba4568",
                "f9e0587b.661558"
            ]
        ]
    },
    {
        "id": "a0c29b71.ba4568",
        "type": "debug",
        "z": "59f39e6b.f710b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "f9e0587b.661558",
        "type": "ui_text",
        "z": "59f39e6b.f710b",
        "group": "659d8b6f.cd1a14",
        "order": 3,
        "width": 7,
        "height": 5,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1329,
        "y": 244,
        "wires": []
    },
    {
        "id": "8bf727f1.beb018",
        "type": "ui_group",
        "z": "",
        "name": "Input",
        "tab": "f5b30e37.bdf7f",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": true
    },
    {
        "id": "659d8b6f.cd1a14",
        "type": "ui_group",
        "z": "",
        "name": "Output",
        "tab": "f5b30e37.bdf7f",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "f5b30e37.bdf7f",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Care Helpdesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
